HADAPT:ADAPTKIND = TREE
HADAPT:USEBIAS = TRUE
HADAPT:KEEPXFORMDISTINCT = TRUE
HADAPT:SPLITTHRESH = 1000
HADAPT:TRANSKIND = MLLRMEAN
HMODEL:TRACE = 512
HADAPT:SAVESPKRMODELS = FALSE
HADAPT:REGTREE = rtree.tree
HADAPT:TRACE = 61
